{% if report.new.infra_issues.sorted_by_completion_date.jobs|length > 0 %}
# Infra failures
{% for job in report.new.infra_issues.sorted_by_completion_date.jobs %}
  * {{ job.dut_name }}: {{ job.infra_issues.matched_patterns|join(', ') }} - {{ job.web_url}}
{% endfor %}
{% endif %}

{% if report.new.post_merge.job_issues.sorted_by_completion_date.jobs|length > 0 %}
# Job failures
{% for job in report.new.post_merge.job_issues.sorted_by_completion_date.jobs %}
  * {{ job.dut_name }}: {{ job.job_issues.matched_patterns|join(', ') }} - {{ job.web_url}}
{% endfor %}
{% endif %}

{% for key, title in [("failed_tests", "Unexpected results"),
                      ("undocumented_flaky_tests", "Undocumented flaky tests")] %}
{% if report.new.post_merge|attr(key)|length > 0 %}
# {{ title }}
{% for project, rp in report.new.post_merge.projects.items() if rp|attr(key)|length > 0 %}
  * {{ project.name }} ({{ rp|attr(key)|length }})
{% for job_name, rj in rp.job_name.items() if rj|attr(key)|length > 0 %}
    * {{ job_name }}: {% if rj|attr(key)|length == 1 %}{{ rj|attr(key)|join(' | ') }}{% else %}{{ rj|attr(key)|length }} test(s){% endif %}

{% endfor %}
{% endfor %}
{% endif %}

{% endfor %}

{% if env.JOB_URL %}Full report: {{ env.JOB_URL }}{% endif %}

{% if influx_checks.failed|length > 0 %}
# InfluxDB failed checks
{% for check in influx_checks.failed %}
  * {{ check }}
{% endfor %}
{% endif %}

{% if config_irc.ping|length > 0 %}{{ config_irc.ping|join(', ') }}: Please have a look :)
{% endif %}
