# {{ title }}

## Infra failures

{% for job in report.infra_issues.sorted_by_completion_date.jobs %}
  * {{ job.dut_name }}: {{ job.infra_issues.matched_patterns|join(', ') }} - {{ job.web_url}}
{% else %}
    No known infra issues occured!
{% endfor %}

## Job failures

{% for job in report.post_merge.job_issues.sorted_by_completion_date.jobs %}
  * {{ job.dut_name }}: {{ job.job_issues.matched_patterns|join(', ') }} - {{ job.web_url}}
{% else %}
    No known job issues occured!
{% endfor %}

{% for key, title, placeholder in [("failed_tests", "Unexpected results", "No test failures occured!"),
                                   ("undocumented_flaky_tests", "Undocumented flaky tests", "No undocumented flaky tests found!"),
                                   ("known_flaky_tests", "Known flaky tests", "No known flaky tests found!")] %}
## {{ title }}
{% for project, rp in report.post_merge.projects.items() if rp|attr(key)|length > 0 %}
  * {{ project.name }} ({{ rp|attr(key)|length }})
{% for job_name, rj in rp.job_name.items() if rj|attr(key)|length > 0 %}
    * {{ job_name }} ({{ rj|attr(key)|length }}):
{% for test, rt in (rj|attr(key)).items() %}
      * {{ test }}: {{ rt.jobs|length }} occurence(s) in pipeline(s): {% for p_id in rt.pipelines.keys() %}#{{p_id}} {% endfor %}

{% endfor %}
{% endfor %}
{% else %}

    {{ placeholder }}
{% endfor %}

{% endfor %}
{% if influx_checks %}
## InfluxDB checks
{% for check in influx_checks.all %}
  * {{ check }}
{% endfor %}
{% endif %}
